<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzDQlZjQvpypLWyrFB6y3WW7Dq9jGsXaY</string>
	<key>GCM_SENDER_ID</key>
	<string>171952853343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopAppUsingBloc</string>
	<key>PROJECT_ID</key>
	<string>marketplace-f3f0d</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-f3f0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171952853343:ios:83ad56082bc164bff4e6ea</string>
	<key>DATABASE_URL</key>
	<string>https://marketplace-f3f0d-default-rtdb.firebaseio.com</string>
</dict>
</plist>